.main {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0px auto;
    background-color: black;
}

.images {
    display: flex;
    flex-direction: row;
}

.images > button {
    height: 30px;
    margin-top: 40%;
}

.trailers > button {
    height: 30px;
    margin-top: 12%;
}

.featuredTodayImages > button {
    height: 30px;
    margin-top: 20%;
}

.trailers2 > button {
    height: 30px;
    margin-top: 14%;
}

.header {
    display: flex;
    flex-direction: row;
    height: 80px;
    justify-content: space-between;
}

.image4{
    width: 15%;
    height: 15%;
    margin-top: 10px;
}

.movie-info{
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    width: 60%;
    margin-left: 20%;
    border: solid 2px white;
}

.upper-half{
    display: flex;
    flex-direction: row;
}

.description{
    display: flex;
    flex-direction: column;
}

.description >h3{
    margin: 10px auto;
}

.description >p{
    margin: 10px auto;
}

.display-right {
    opacity: 1;
    cursor: pointer;
    border-radius: 4px;
    color: #fff;
    background: rgba(18, 18, 18, 0.45);
    border-color: rgba(255, 255, 255, 0.7);
    border-style: solid;
    border-width: 1px;
    font-size: 1.5rem;
    line-height: 0;
    /*position: absolute;*/
    transition: all .25s ease-out;
    z-index: 5;
    top: 40%;
    padding: 0.75rem 0.25rem;
}

.display-left {
    opacity: 1;
    cursor: pointer;
    border-radius: 4px;
    color: #fff;
    background: rgba(18, 18, 18, 0.45);
    border-color: rgba(255, 255, 255, 0.7);
    border-style: solid;
    border-width: 1px;
    font-size: 1.5rem;
    line-height: 0;
    /*position: absolute;*/
    transition: all .25s ease-out;
    z-index: 5;
    top: 40%;
    padding: 0.75rem 0.25rem;
}


.logo {
    width: 15%;
}

.logoImage{
    width: 100%;
    height: 40px;
}

.search {
    width: 75%;
    height: 40px;
    margin-left: 5%;
}

.search > input {
    width: 100%;
    height: 40px;
    background-color: white;
}

.watchList {
    padding: 0px;
}

.watchList > input {
    width: 100%;
    height: 40px;
    background-color: goldenrod;
}

.signIn {
    padding: 0px;
}

.signIn > input {
    height: 40px;
    background-color: goldenrod;
}

.content {
    width: 100%;
    margin: 0px auto;
}

.movies {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.upNext > h1 {
    color: goldenrod;
    margin-top: 0px;
}

.buttonsDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logoDiv {
    display: flex;
    flex-direction: row;
    width: 50%;
}

.upNext {
    margin-left: 10%;
    width: 50%;
    height: 30%;
}

.trailers {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
}

.trailers > img {
    width: 20%;
    height: 20%;
}

.trailers > input {
    padding: 0px;
    background-color: goldenrod;
    height: 50%;
}

.trailers2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.trailers2 > img {
    width: 20%;
    height: 20%;
    margin: 2% 5% 2% 0px;
}

.trailers2 > input {
    padding: 0px;
    background-color: goldenrod;
    height: 50%;
}

.featuredToday{
    width: 100%;
    height: 15%;
}

.featuredToday > h1 {
    color: goldenrod;
}

.featuredTodayImages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10%;
    width: 70%;
    margin: 0px auto;
}

.featuredTodayImages > img {
    width: 30%;
    height: 30%;
}

.whatToWatch {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.whatToWatch > h1 {
    color: goldenrod;
    margin-top: 0px;
}

.whatToWatch > a > input {
    background-color: goldenrod;
    margin: 0px auto;
    height: 45px;
    padding: 0px 20px;
    border-radius: 10%;
}

.wathcListButton > input {
    background-color: goldenrod;
    margin-left: 10px;
}

.fromYourWatchList > p {
    color: white;
}

.fromYourWatchList > input {
    background-color: goldenrod;
}

.wathcListButton {
    display: flex;
    flex-direction: row;
}

.fanFavorites2 > input {
    padding: 0;
    border: none;
    background: none;
    font-size: 30px;
    color: goldenrod;
    margin-left: 1%;
}

.fanFavorites2 {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.images {
    width: 40%;
}

.images > img {
    width: 90%;
    height: 400px;
}

.moreToWatch > h1 {
    color: white;
}

.moreToWatch > h3 {
    color: gainsboro;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.buttons > input {
    width: 130px;
    height: 30px;
    background: none;
    color: white;
    border: 2px solid white;
}


.exclusiveVideos > h1 {
    color: goldenrod;
}

.imdbOriginals {
    display: flex;
    flex-direction: row;
}

.line {
    width: 4px;
    height: 30px;
    border-bottom: 2px solid goldenrod;
    background-color: goldenrod;
    margin: 0px;
}

.imdbOriginals > h1 {
    color: white;
    margin: 0 0 0 5px;
}

.exclusiveVideos > h4 {
    color: gainsboro;
}

.footer > h4 {
    color: gray;
    text-align: center;
}

@media only screen and (max-width: 600px) {

    .main {
        width: 100%;
    }

    .content {
        width: 100%;
    }

    .movie-info{
        width: 100%;
    }

    .movies {
        display: flex;
        flex-direction: column;
    }

    .header {
        height: 100px;
    }

    .images {
        width: 100%;
        margin: 0px;
    }

    .images > img {
        width: 100%;
        height: 600px;
    }

    .upNext {
        margin-left: 0px;
    }

    .whatToWatch {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .whatToWatch > h1 {
        margin: 0px auto;
    }

    .whatToWatch > input {
        margin: 0px auto;
    }

    .wathcListButton > input {
        width: 50%;
        height: 35px;
    }

    .fromYourWatchList {
        width: 100%;
    }

    .fromYourWatchList > p {
        width: 100%;
    }

    .fromYourWatchList > input {
        width: 80%;
        height: 50px;
        margin-left: 10%;
    }

    .featuredTodayImages {
        justify-content: space-between;
    }


    .featuredToday > h1 {
        text-align: center;
    }

    .buttons > input {
        width: 150px;
        height: 40px;
    }

    .trailers2 {
        display: flex;
        flex-direction: column;
    }

    .trailers2 > img {
        width: 80%;
        height: 40%;
        margin: 5% 10%;
    }

    .fanFavorites2 {
        margin: 5% auto 0px auto;
    }
}
